STORY_RPC=https://aeneid.storyrpc.io
STORY_CHAIN_ID=1315
STORYSCAN_API=https://aeneid.storyscan.xyz/api/v2/
STORY_EXPLORER=https://aeneid.storyscan.xyz
STORY_PRIVATE_KEY=
NFT_CONTRACT=
APPROVER_ADDRESS=
PINATA_JWT=
ANTHROPIC_API_KEY=